.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 1;
  cursor: none;
  overflow: hidden;
  background-color: rgb(255, 252, 247);
}
.container h1,
.container h5 {
  position: relative;
  mix-blend-mode: difference;
  color: rgb(219, 219, 219);
  pointer-events: none;
  z-index: 3;
}
.cursor {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 50%;
  left: -25px;
  top: -25px;
  /* transition: transform 75ms ease; */
  will-change: transform;
  z-index: 2;
  background: transparent;
  user-select: none;
  /* pointer-events: none; */
}

.cursor__cursor {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-emoji {
  position: absolute;
  font-size: 2.5rem;
  left: -15px;
  top: -100px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 5rem;
  opacity: 0;
  font-family: 'Clash Display', sans-serif;
}

.last-emoji p:after {
  position: absolute;
  font-size: 1rem;
  content: attr(data-description);
  width: max-content;
  left: 40px;
  top: -35px;
  background-color: aliceblue;
  padding: 1rem 1.25rem;
  border-radius: 50px;
  font-weight: 500;
  font-family: 'Clash Display', sans-serif;
}
